<%= form_with(model: heure) do |form| %>
  <% if heure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(heure.errors.count, "error") %> prohibited this heure from being saved:</h2>

      <ul>
        <% heure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Heures Cours: Début et Fin" %>
    <%= form.text_field :heurecours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
