<%= form_with(model: jour) do |form| %>
  <% if jour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jour.errors.count, "error") %> prohibited this jour from being saved:</h2>

      <ul>
        <% jour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomjour %>
    <%= form.text_field :nomjour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
